[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
mysqlclient = "*"
gunicorn = "*"
openai = "*"
requests = "*"
langchain = "*"
langchain-community = "*"
langchain-openai = "*"
channels = "*"
daphne = "*"
google-cloud-speech = "*"
google-cloud-texttospeech = "*"
redis = "*"
channels-redis = "*"
django-redis = "*"
boto3 = "*"
pika = "*"
jupyter = "*"
pytz = "*"
setuptools = "*"
pydub = "*"
ffmpeg = "*"
django-silk = "*"
uvicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.6"
